*{
    text-decoration: none;
    
    }
body{
     display: flex;
    justify-content: center;
    align-items: center; 
   padding:  60px;  
   background-image:linear-gradient(white,orange,white,grey)  ;  
    background-repeat:no-repeat;
     background-size: cover; 
   
}
.img1{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 255px;
margin-top: 5px;
}
.container{
    border: solid 0.5px black;
    border-radius: 10px;
    height:600px;
    width: 600px;
    background-image: linear-gradient(lightblue,rgba(255, 255, 0, 0.423),rgb(152, 194, 208));
    backdrop-filter: blur(10px);

}
h1{
    text-align: center;
}
.fname,.lname{
float: left;
margin-left: 45px;
width:230px

}
.gender,.email{
    float: left;
    margin-left: 45px;
    width:230px
}
.number,.pass{
    float: left;
    margin-left: 45px;
    width:230px
    
}
input{
    height: 30px;
    font-size: 15px;
}
::placeholder{
    color:black;
}
button{ 
    width: 270px;
    height:50px;
    border-radius: 10px;
    margin-left: 160px;
    margin-top: 40px; 
    font-size: 35px;
    background-image: linear-gradient(lightblue,rgba(255, 255, 0, 0.423),rgb(152, 194, 208));
}
span{
    font-size: 22px;
}
p{
   margin-left: 200px;
   font-size: 19px;
}
