<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><br>
    <form action="addsessionsave" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>ADD SESSION</legend>
           <label for="first"> Session Start Year : <br><input type="date" name="start" ></label><br><br>
           <label for="last"> Session End Year : <br><input type="date" name="end" ></label>
           <br><br>
        <button>ADDED</button>
     </fieldset>    
        </form>
</body>
</html>