<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <table border="2">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Gender</th>
            <th>High School Name</th>
            <th>High School Percentage</th>
            <th>Higher School Name</th>
            <th>Higher School Percentage</th>
            <th>Graduation College Name</th>
            <th>Graduation Name</th>
            <th>Graduation Percentage</th>
            <th>Post Graduation College Name</th>
            <th>Post Graduation Name</th>
            <th>Post Graduation Percentage</th>
            <th>Adhar Number</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Action</th>

            </tr>
            <tr>
                {% for x in  result %}
                <td>{{x.id}}</td>
                <td>{{x.fname}}</td>
                <td>{{x.lname}}</td>
                <td>{{x.age}}</td>
                <td>{{x.address}}</td>
                <td>{{x.r1}}</td>
                <td>{{x.hname}}</td>
                <td>{{x.per}}</td>
                <td>{{x.hsname}}</td>
                <td>{{x.percent}}</td>
                <td>{{x.gname}}</td>
                <td>{{x.sname}}</td>
                <td>{{x.percentage}}</td>
                <td>{{x.pname}}</td>
                <td>{{x.cname}}</td>
                <td>{{x.per2}}</td>
                <td>{{x.anum}}</td>
                <td>{{x.pnum}}</td>
                <td>{{x.email}}</td>
                <td><a href="deletestaff?x={{x.id}}">DELETE</a></td>
            </tr>
            
            {% endfor %}
        </table>
        <script src="" async defer></script>
    </body>
</html>